  <header>
    <title>Billboard</title>

  </header>

  <body>
  
  <img src="https://www.savingcountrymusic.com/wp-content/uploads/2017/12/billboard.jpg" alt="Picture of Billboard Logo">


  <h2>Artist Information</h2>

  <p>Name: <%= @artists.artist_name %></p>

  <%= link_to "Edit an Artist", edit_artist_path(@artists) %>

  <p>List of Songs: </p>
  <br>
  <%= link_to "Create a New Song", new_artist_song_path(@artists) %>
  <ul>
  <% @songs.each do |song| %>
    <li><%= link_to song.song_title  %></li>
    <% end %>
  </ul>
</body>