  <header>
    <title>Billboard</title>

  </header>

  <body>
  
  <img src="https://www.savingcountrymusic.com/wp-content/uploads/2017/12/billboard.jpg" alt="Picture of Billboard Logo">


  <h2>Please Select a Chart</h2>

  <ul>
    <li><%= link_to "Top 100", chart_top100s_path(1) %></li>
    <li><%= link_to "Top 100 United States", chart_top100us_path(2) %></li>
    <li><%= link_to "Top 100 Europe", chart_top100eurs_path(3) %></li>
  </ul>

</body>