  <header>
    <title>Billboard</title>

  </header>

  <body>
  
  <img src="https://www.savingcountrymusic.com/wp-content/uploads/2017/12/billboard.jpg" alt="Picture of Billboard Logo">


  <h2>Chart Information</h2>

  <p>Name: <%= @charts.chart_name %></p>

  <%= link_to "Edit Chart List", edit_chart_path(@charts) %>

  <ol>
    <% @charts.each do |chart| %>
    <li><%= link_to chart.song_title  %></li>
    <% end %>
  </ol>

</table>
</body>