  <header>
    <title>Billboard</title>

  </header>

  <body>
  
  <img src="https://www.savingcountrymusic.com/wp-content/uploads/2017/12/billboard.jpg" alt="Picture of Billboard Logo">


  <h2>Please Select a Song</h2>

  <ul>
  <% @songs.each do |song|%>
   <li> <%= link_to song.song_title, song  %></li>
  <% end %>
  </ul>

  <%= link_to "Create a New Song", new_song_path %>

</body>
